{% extends 'posts/base.html' %}
{% block content %}
<h1>Последние посты</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
